.mission-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

body {
    margin: 0;
    background: #f4f4f4;
    font-family: 'Inter', system-ui, sans-serif;
}

.app-wrapper {
    min-height: 100vh;
    background: #ffffff;
}


/* CONTENT */
.content-wrapper {
    padding: 20px;
}

@media (min-width: 1200px) {
    .content-wrapper {
        max-width: 1100px;
        margin: auto;
    }
}

.section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

/* ===== MISSION WIDGET (COMPACT) ===== */
.mission-card {
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,.06);
    overflow: hidden;
    margin-bottom: 12px;
}

/* banner lebih pendek */
.mission-banner {
    max-height: 110px;
    overflow: hidden;
}

.mission-banner img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

/* body lebih rapat */
.mission-body {
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mission-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

.mission-reward {
    color: #afa6ad;
    font-weight: 700;
    font-size: 10px;
}

/* tombol panah lebih kecil */
.mission-action {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fc0000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

/* CAROUSEL */
.banner-wrapper {
    border-radius: 16px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
}

.indicator-pill {
    margin-top: 14px;
    background: #e5e7eb;
    padding: 6px 14px;
    border-radius: 999px;
    display: flex;
    gap: 10px;
    width: fit-content;
    margin-inline: auto;
}

.indicator-pill button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #9ca3af;
    border: none;
    opacity: .6;
}

.indicator-pill button.active {
    background: #111827;
    opacity: 1;
}

.mission-tabs {
    display: flex;
    background: #eef2f7;
    border-radius: 999px;
    padding: 4px;
    margin: 12px;
    gap: 4px;
}

.mission-tab {
    flex: 1;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    color: #6b7280;
    text-decoration: none;
    border-radius: 999px;
    transition: all 0.2s ease;
}

.mission-tab.active {
    background: #EC008C; /* biru tua */
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(30, 58, 138, 0.25);
}
